<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="todo">

	<!-- 수정하기 -->
	<update id="todo_update" parameterType="com.gura.spring02.todo.dto.TodoDto">
		UPDATE todo
		SET content=#{content}
		WHERE num=#{num}
	</update>

	<!-- 회원 한명의 정보 가져오기 -->
	<select id="todo_getdata" parameterType="int" resultType="com.gura.spring02.todo.dto.TodoDto">
		SELECT num, content, regdate
		FROM todo
		WHERE num = #{num}
	</select>
	
	<delete id="todo_delete" parameterType="int">
		DELETE FROM todo
		WHERE num = #{num}
	</delete>

	<select id="todo_insert" parameterType="String" >
		INSERT INTO todo
		(num,content,regdate)
		VALUES (todo_seq.NEXTVAL,#{content} , SYSDATE)
	</select>
	
	<select id="todo_getlist" resultType="com.gura.spring02.todo.dto.TodoDto">
		SELECT num, content, TO_CHAR(regdate,'yyyy.mm.dd hh24:mi') regdate
		FROM todo
		ORDER BY num ASC
	</select>

</mapper>



